{% extends 'base.html' %}


{% block content %}

<div class="ui two divided column center aligned page grid">
    <div class="four column row">
      <div id="all_cities" class="column"> 
            {% for city in cities %}
              <h1>{{city.name}}</h1>
              {% if city == currentCity %}
                <p class="orange"><a href="{% url 'city_detail' city.id %}">
                      <img class="rounded ui image" src="{{ city.image }}">
                </a></p>
              {% else %}
                <p class="orange"><a href="{% url 'city_detail' city.id %}">
                      <img class="rounded ui image" src="{{ city.image }}">
                </a></p>
              {% endif %}
          {% endfor %} 
          </div>
      
      <div id="all_posts" class=" centered column"> 
           <!-- POSTS -->

           
           <div id="all_cities" class="column"> 
           <ul>
            {% for city in cities %}
            {% if city == currentCity %}
                <h1>{{city.name}}</h1>
                <p class="orange"><a href="{% url 'city_detail' city.id %}">
                      <img class="rounded large ui image" src="{{ city.image }}">
                </a></p>
                {% endif %}
                {% endfor %} 
            </ul>
        
       
          <input id="add_icon" type="button" value="Add Post" onclick="add_post()" class="ui small orange rounded button" />
       
          
            <!-- POSTS -->

            
            <div id="ind_posts_cities" class=" centered column" style="margin: 3em 0em 0em 3em;min-width: 30em;"> 
             <div style="margin: 3em 0em 0em 7em;"class="centered column">
              <h1 style="word-wrap: break-word;font-family: 'Raleway', sans-serif; font-weight: 700;">Posts</h1>
             </div>
             <ul style="list-style: none;">
             {% for post in posts %}
             <div style="word-wrap: break-word; min-width: 30em;" class="ui cards">
               <div style="margin: 3em 0em 0em 3em;min-width: 30em;" class="card">
                 <div class="content">
                   
                   <div class="header">{{ post.title }}</div>
                   <div class="meta">{{ post.author }}</div>
                   <div class="description">
                     {{ post.body }}
                   </div>
                 </div>
               </div>
               </div>
     
      {% endfor %}
         </div>


      
      
        </ul>
        </div>
        </div>
        </div>


<div id="add_post" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Add Post to {{currentCity}}
  </div>
  <div class="content">
    <form class="ui form" action="{% url 'city_detail' currentCity.id %}" method="POST">
        {% csrf_token %}
        {{ post_create_form_errors }}
        {{ post_form.as_p }}
        <input type="submit" class="ui rounded grey button" value="Add Post" />
    </form>
  </div>
</div>

{% endblock%}