{% extends 'base.html'%}
{% block content %}

<div>
    <p>name: {{profile.name}}</p>
    <p>current city: {{profile.current_city}}</p>
    <p>Member since: {{profile.join_date}}</p>
    <a href="{% url 'profile_edit' %}">Edit</a>
    <a href="{% url 'profile_delete' %}">Delete</a>
</div>
<div>
    {% if posts %}
        <ul>
        {% for post in posts %}
            <li>
                <h4><a href="{% url 'post_detail' post.id %}">{{post.title}}</h4>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>This user has not authored any posts</p>
    {% endif%}
</div>

{% endblock %}