
{% extends 'base.html'%}
{% block content %}



<div class="ui two column divided grid">
    <div class="four column row">
      <div id="profile_info" class="column"> 
        <div style="max-width: 300px;" class="ui card">
            <div class="image">
              <img src="https://www.flaticon.com/svg/static/icons/svg/194/194938.svg">
            </div>
            <div class="content">
              <a class="header"> Welcome, {{profile.name}}</a>
              <div class="meta">
                <span class="date">Joined on {{profile.join_date}}</span>
              </div>
              <div class="city">
                Lives in {{profile.current_city}}
              </div>
            </div>
            <div class="extra content">
              <a>
                
                <input id="edit_icon" type=" ui button" value="Edit Profile" onclick="edit_profile_form()" class="ui grey basic button ">
                
                <input id="confirm_delete" type="ui button" value="Delete Profile" onclick="delete_modal()" class="ui grey basic button">
              </a>
            </div>
          </div>
        
          </div>
      
      <div id="all_posts" class=" centered column"> 
           <!-- POSTS -->
           <div id="all_cities" class="column"> 
            {% if posts %}
            <ul>
            {% for post in posts %}
                <li>
                    <h4><a href="{% url 'post_detail' post.id %}">{{post.title}}</h4>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>This user has not authored any posts</p>
        {% endif%}
        </div>
        </div>
    </div>
</div>





<div style="max-width: 600px;" id="edit_form" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Edit Profile
    </div>
    <div style="max-width:400px;margin:auto" class="content">
     
<form action="{% url 'profile_edit'%}" method="post" class="ui form">
    {% csrf_token %}
    {{ profile_form.as_p }}
    <input type="submit" class="ui button" value="Update Profile">
</form>

    </div>
   
  </div>
  
  <div id="delete_modal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Delete {{profile.name}}
    </div>
    <div class="content">
        Are you sure you want to delete {{profile.name}} ?
        
    </div>
    <div class="actions">
      
      <div class="ui button">
          <a href="{% url 'profile_delete' %}">Yes</a>
      </div>
    </div>
  </div>

<script>
   
  
    function edit_profile_form(){
      $('#edit_form').modal('show');
    }
   
    function delete_modal(){
      $('#delete_modal').modal('show');
    }
    function delete_modal_cancel(){
      $('#delete_modal').modal('hide');
    }
  

  </script>



{% endblock %}
