{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wayfarer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
    <!-- jQuery 1.8 or later, 33 KB -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <!-- Fotorama from CDNJS, 19 KB -->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <!-- For Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,500&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Raleway', sans-serif;">
  <div class="pusher">
<nav id="nav">
   
      
        <div class="ui secondary pointing menu">
          <!-- a class="toc item"> -->
<div class="way_icons">
            <a id="way_con" href="{% url 'home' %}">Wayfarer
                <i id="way_icon" class="angle double up icon"></i>
            </a>
          </div>
        

          <div class="right item">

            
<!-- For login and registration -->
<a id="all_icon" class="ui grey basic button" href="{% url 'city_detail' 1 %}">All Cities</a>
    {% if user.is_authenticated %}
   
<a class="ui grey basic button" id="login_icon" href="{% url 'logout' %}">Log Out</a>
<a id="profile_icon" class="ui grey basic button" href="{% url 'profile'%}"> Welcome, {{ user.username }}</a>
{% else %} 


          <!-- Modals-->
            <input id="login_icon" type="button" value="Log In" onclick="login_form()" class="ui grey basic button">
            <input id="register_icon" type="button" value="Register" onclick="register_form()" class="ui grey basic button">
          <!-- End Modals-->
    
            {% endif %}
          
          </div>
        </div>
      </div>
   
      {% block content %}
      {% endblock %}

</nav>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</body>


<div style="max-width: 600px; max-height: 600px;" id="login_form" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Log in
  </div>
  <div style="max-width:400px;margin:auto" class="content">
      <form method="post" action="{% url 'login' %}" class="ui form">
        {% csrf_token %}
        {{ login_form.as_p }}
        <input type="submit" class="ui button" value="login">
        <input type="hidden" name="next" value="{{ next }}">
      </form>
  </div>
  
</div>

<div style="max-width: 600px;" id="register_form" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Sign Up
  </div>
  
  {% comment %} <div class="image content">
    <img class="image" src="https://ak7.picdn.net/shutterstock/videos/10009877/thumb/1.jpg/img/150x150">
  </div> {% endcomment %}
  <div style="max-width:400px;margin:auto" class="content">
    <form method="post" action="{% url 'signup' %}" class="ui form">
      {% csrf_token %}
      {% for field, error in form_errors %}
        <h4>{{error}}</h4>
      {% endfor %}
      {{ register_form.as_p }}
      <input type="submit" class="ui button" value="signup">
    </form>
  </div>
</div>



<script>
  function login_form(){
    $('#login_form').modal('show');
  }

  function register_form(){
    $('#register_form').modal('show');
  }

  {% if form_errors %}
    register_form()
  {% endif %}


  function add_post(){
    $('#add_post').modal('show');
  }

  {% if post_create_form_errors %}
    add_post()
  {% endif %}

</script>

</html>
