{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wayfarer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<script src="{% static 'js/app.js' %}" type="text/javascript"></script>
<!-- jQuery 1.8 or later, 33 KB -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Fotorama from CDNJS, 19 KB -->
<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>


       {% block content %}
      <!-- Page Contents -->
      <body>
      <div class="pusher">
        <div class="ui vertical masthead center aligned segment fotorama">
            
            <img src="https://s.fotorama.io/1.jpg">
            <img src="https://s.fotorama.io/2.jpg">
            <img src="https://images.unsplash.com/photo-1501594907352-04cda38ebc29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80">
            <img src="https://images.unsplash.com/photo-1551651767-d5ffbdd04b83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1603&q=80">
            <img src="https://lp-cms-production.imgix.net/features/2019/04/shutterstockRF_602669072-e543138b729c.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850&q=50&dpr=2">
      </div>
          
  
      <div class="ui divider"></div>

      <div class="ui three column center aligned page grid">
      <div class="row">
        <div style="min-width: 25em;" class="column ">
          <div class="ui large header">San Francisco</div>
          <p class="info">The Golden Gate Bridge is a suspension bridge spanning the Golden Gate, the one-mile-wide (1.6 km) strait connecting San Francisco Bay and the Pacific Ocean. The structure links the U.S. city of San Francisco, California—the northern tip of the San Francisco Peninsula—to Marin County, carrying both U.S. Route 101 and California State Route 1 across the strait</p>
        </h2>
        </div>
        <div style="min-width: 25em;" class="column">
          <div class="ui large header">London</div>
          <p class="info">Several bridges named London Bridge have spanned the River Thames between the City of London and Southwark, in central London. The current crossing, which opened to traffic in 1973, is a box girder bridge built from concrete and steel. It replaced a 19th-century stone-arched bridge, which in turn superseded a 600-year-old stone-built medieval structure. This was preceded by a succession of timber bridges, the first of which was built by the Roman founders of London.</p>
        </div>
        <div style="min-width: 25em;" class="column">
          <div class="ui large header">Barcelona</div>
          <p class="info">Entering the forest of Orrius is like stepping into a world of goblins, monsters, and covens. As you follow the forest trail, you’ll come upon figures carved in rock. Many resemble the famous heads of Easter Island, though there are also other shapes, such as a giant elephant. Local artists are said to have created the sculptures, and indeed, you can see signatures on a stone near the Elephant. The carvings and arrangement of figures implies some mystical or mythological factors at play—elements of space and boundary, earth and deity. Perhaps the figures are the entrance to another realm.</p>
        </div>
      </div>
    </div>
  </div>
    
 </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

    </body>
    </html>
    {% endblock %}