:root{
    --primary: #86ee60;
    --primary-sub: #86ee60d2;
    --secondary: #2e6e65;
    --light: #f4f7ed;
    --dark: #2b3752;
}


.vertical.fotorama {
    
    padding: 1em 0em;
    display: flex;
    justify-content: center;
  }

.large.menu{
    padding: 1em 0em;
    display: flex;
    justify-content: center;
}

.rounded.image{
    height: 120px;
 width: auto;
}
.four.column{
    padding: 1em 0em;
    margin: 0em 0em 0em 5em;
    
}
.three.grid{
    display: flex;
    justify-content: left;
    margin: 3em;
}

.large.pointing{
    padding: 1em 0em;
    display: flex;
    justify-content: center;
}

#login{

color:#2e6e65;
margin: .5em;
}

#all_icon{
   margin: .5em;
 
}

#profile_icon{
    margin: .5em;
}

#login_icon{
    margin: .5em;
}

#logout_icon{
    margin: .5em;
}

#way_con{
    display: flex;
    flex-direction: column-reverse;
    font-size: medium;
    color: green;
}

#way_icon{
    font-size: 3em;
}

/* li:first-child{
    color: crimson;
} */

.errorlist{
    color: crimson;
}

.ui.primary{
    background: var(--primary);
}

.ui.secondary{
    background-color: var(--secondary)  ; 
}

.ui.dark{
    background-color: var(--dark);
    color: var(--light);
}

/* Light Button */

.ui.basic.primary.button{
    background-color: var(--primary);
    color: var(--secondary);
}

.ui.basic.primary.button:hover{
    background-color: var(--primary-sub);
    color: var(--light);
}

.ui.basic.primary.button:visited{
    background-color: var(--primary);
    color: var(--dark);
}

/* Secondary Button */

.ui.basic.secondary.button{
    background-color: var(--dark);
    border-color: var(--dark) ;
    color: var(--light) ;
}

.ui.basic.secondary.button:hover{
    background-color: var(--secondary)  ;
    border-color: var(--secondary)  ;
    color: var(--light)  ;
}

.ui.basic.secondary.button:visited{
    background-color: var(--dark)  ;
    border-color: var(--dark)  ;
    color: var(--light)  ;
}

/* Dark Button */

.ui.basic.secondary.button{
    background-color: var(--dark)  ;
    border-color: var(--dark)  ;
    color: var(--light)  ;
}

.ui.basic.secondary.button:hover{
    background-color: var(--secondary)  ;
    border-color: var(--secondary)  ;
    color: var(--light)  ;
}

.ui.basic.secondary.button:visited{
    background-color: var(--dark)  ;
    border-color: var(--dark)  ;
    color: var(--light)  ;
}
