body{
    background-color: #f4f7ed;
    padding:0em;
    word-wrap: break-word;
}


a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #2e6e65;
}

.vertical.fotorama {
    
    padding: 1em 0em;
    display: flex;
    justify-content: center;
  }

  .content{
      margin-top: 85px;
  }
.rounded.image{
    height: 120px;
 width: auto;
}
.four.column{
    padding: 1em 0em;
    margin: 0em 0em 0em 5em;
    
}
.three.grid{
    display: flex;
    justify-content: left;
    margin: 3em;
}

.large.pointing{
    padding: 1em 0em;
    display: flex;
    justify-content: center;
}

#login{

color:#2e6e65;
margin: .5em;
}

#all_icon{
   margin: .5em;width:100%;white-space: nowrap; overflow:hidden;text-overflow: ellipsis;
 }

.body-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
