* {
    max-width: 800px;
}


#city {
    color: antiquewhite;
    background-color:#2e6e65;
}

#login{
    color: antiquewhite;
    background-color:#2e6e65;
   margin: .5em;
}


#register{
    color: antiquewhite;
    background-color:#2e6e65;
}


