{% extends 'base.html'%}
{% block content %}

<div  class="ui container">
        <div class="ui card">
         
        <h3>{{post.title}}</h3>
        <p>Author: {{post.author}}</p>
        <p>{{post.body}}</p>

       
        <br>
        Posted: <p>{{post.created_at}}</p></a>
        <input id="edit_form_button" type="ui button" value="Edit" onclick="edit_profile_form()" class="ui grey basic button">
        <input id="confirm-delete" type="ui button" value="Delete" onclick="delete_modal()" class="ui grey basic button">
      
    </div>
    </form>
</div>

<div id="delete_modal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Delete
    </div>
    <div class="content">
        Are you sure you want to delete {{post.title}} ?
        
    </div>
    <div class="actions">
      
      <div class="ui button">
          <a href="{% url 'post_delete' city.id post.id %}">Yes</a>
      </div>
    </div>
  </div>

  <div style="max-width: 600px;" id="edit_form" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Edit {{post.title}}
    </div>
    <div style="max-width:400px;margin:auto" class="content">
     
 <form action="{% url 'post_edit' city.id post.id%}" method="POST" class="ui form">
        {% csrf_token %}
        {{ post_form.as_p }}
        <input type="submit" class="ui button" value="Update Post" />
    </form>

    </div>

  </div>

 

  <script>
    function delete_modal(){
      $('#delete_modal').modal('show');
    }
    function delete_modal_cancel(){
      $('#delete_modal').modal('hide');
    }

    function edit_profile_form(){
      $('#edit_form').modal('show');
    }
  </script>
{% endblock %}

